<% if @service_plans.any? %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>


<h1>Listing Service's Plans</h1>
<div class="container">
  <div class="row">
  <% @service_plans.each do |service| %>
    <div class="col-md-4">
      <p class="service_plan_title"><h2><strong>Service plan name:</strong> <%= service.title %></h2>
      <p class="service_plan_description"><strong>Description:</strong> <%= service.description %></p>
      <p class="service_plan_days"><strong>Days amount: </strong> <%= service.days %></p>
      <p class="service_plan_price_amount"><strong>Price:</strong> <%= service.price %></p>
      <td><%= link_to 'Show', sti_service_plan_path(service.type, service), :class => 'btn btn-default' %></td>
      <td><%= link_to "See all #{service.type.pluralize}", sti_service_plan_path(service.type) %></td>

      <td><%= link_to 'See all Service Plans', sti_service_plan_path %></td>

      <td><%= link_to "Create New #{@type}", sti_service_plan_path(@type, nil, :new) %></td>
    </div>
  <% end %>
  </div>
</div>
<% else %>
    <p>No services.</p>
<% end %>
